/* Add CSS Styling */
.odd {
    background-color: rgba(255, 0, 0, 0.5);
    font-family: Verdana, Dejavu-Sans, sans-serif;
}

#second {
    color: rgb(0, 0, 225);
    font-size: 36px;
}

.special {
    font-size: 24px;
}

#fourth {
    background-color: rgb(145, 238, 145);
    font-size: 24px;
    font-weight: bold;
}